body {
   width: 1200px;
    font-family: 'Abhaya Libre', sans-serif;
        margin: auto;
}

#square {
  width: 1200px;
    height: 80px;
    background-color: black;
}

nav {
    color: white;
    
    border-color: white;
    text-transform: uppercase;
    padding-top: 9px;
    font-size: 18px;
    padding-left: 400px;
    
    
}


#name {
    padding-left: 50px;
    font-family: 'Abhaya Libre', sans-serif;
    color: white;
    float: left;
    text-transform: uppercase;
  
}

logo {
    margin: auto;
    margin-top: 0px;
    width: auto;
}

li {
    display: inline;
    margin-left: 20px;
   }

a:hover {
    color: red;
}

a {
    color: white;
    text-decoration: none;
}

.naglowek {
    text-transform: uppercase;
    font-size: 60px;
    margin: 20px 20px 20px 100px;
    
   
}

footer {
    background-color: black;
    color: white;
    width: auto;
    
    height: 60px;
   }
#stopka {
   padding-top: 20px;
    padding-left: 50px;
    float: left;
}

#design {
    float: left;
    padding-top: 20px;
    padding-left: 650px;
    
}

.biografia {
    margin: 20px 100px 20px 100px;
    font-size: 20px;
    }