body {
   width: 1200px;
    font-family: 'Abhaya Libre', sans-serif;
        margin: auto;

}

#square {
  width: 1200px;
    height: 80px;
    background-color: black;
}




nav {
    color: white;
        border-color: white;
    text-transform: uppercase;
    padding-top: 9px;
    font-size: 18px;
    padding-left: 500px;
 
    }


#name {
    padding-left: 50px;
    font-family: 'Abhaya Libre', sans-serif;
    color: white;
    float: left;
    text-transform: uppercase;
  
}

logo {
    margin: auto;
    margin-top: 0px;
    width: auto;
}

li {
    display: inline;
    margin-left: 20px;
   }

a:hover {
    color: red;
   }

a {
    color: white;
    text-decoration: none;
        -webkit-transition: .7s;
    -moz-transition: .7s;
    -o-transition: .7s;
    -ms-transition: .7s;
    transition: .7s;
}

.naglowek {
    text-transform: uppercase;
    font-size: 40px;
    margin: 20px 20px 20px 50px;
    
   
}

footer {
    background-color: black;
    color: white;
    width: auto;
    
    height: 60px;
   }
#stopka {
   padding-top: 20px;
    padding-left: 50px;
    float: left;
}

#design {
    float: left;
    padding-top: 20px;
    padding-left: 650px;
    
}

.biografia {
    width: 800px;
    margin: 20px 50px 20px 50px;
    font-size: 18px;
    text-indent: 30px;
    float: left;
    }

.rozdzielnik {
   width: 1200px;
}

#msze_box {
    width: 200px;
    border: 1px solid black;
    border-radius: 2px;
    float: left;
margin: 50px 10px 20px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.msze {
    font-size: 18px;
    font-family: bold;
    text-align: center;
}


